body{
  margin:0px;

  background-image: linear-gradient(rgb(239, 131, 253), rgb(37, 2, 37));

}
.main-div
{
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    opacity:0.9;
    height:600PX;
    background-image: url("IMG/background.jpg");
    
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-div h1{
  text-align:center;
  
}
.main-div1
{
    background-repeat: no-repeat;
    background-size: cover;
    width:90%;
    opacity:1;
    height:400PX;
    background-image: url("IMG/background.webp");
    margin:5%;
    
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.centered{
  color: rgb(229, 121, 233);
  font-size:30px;
  position: relative;
  top:50%;
  left:46%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main-div img
{
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    opacity:1;
    height:600PX;
}
.top{
    width:100%;
    position:fixed;
    z-index:1;
    top:0;
    background:black;
    height:100px;
    opacity:0.5;
}
.top:hover{
    opacity:0.8;
}
button{width:100%;text-align:center;padding:8px 16px}
.bar-item{
    text-align:center;
    text-decoration: none;
    float:right;
    margin:10px;
    color:floralwhite;
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
    font-weight: bold;
}
.bar-item:hover{
    background-color: grey;
    background-size: 100%;
    font-size:20px;
    margin-top:8px;
    margin-bottom:0px;
}
.logo{
    height:80px;
    width:120px;
    float:left;
    margin:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color:deeppink;
    text-decoration: none;
    font-size: xx-large;
}
.top-para{
  text-align: justify;
    font-weight:bolder ;
    font-size:100px ;
    font-family: monospace;
    }

.heading{
    font-weight:bolder ;
    font-size:50px ;
    font-family: monospace;
    padding-top:1000px;
    
  color:pink;
}

body{
    margin:0px;
}
p{
  text-align: justify;
   margin-left: 5%;margin-right:5%;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size:30px;
}



#contact{
  padding-top:150px;
    width:100%;
    position: relative;
    z-index:1;
    bottom:0;
    background:black;
    color:white;
    opacity:0.8;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%;}
.submit{width: 30%; }

*, *:before, *:after {
    box-sizing: inherit;
  }
  
  @media screen and (min-width: 851px) {
  .column {
    float: left;
    width: 32.12%;
    margin-bottom: 16px;
    padding: 0 0.5%;
  }
}
  @media screen and (max-width: 850px) {
    .column {
      width: 70%;
      padding-left: 15% ;
      padding-right:15%;
      padding-bottom: 3%;
      display: block;
    }
    p{
      text-align:center;
    }
    
   
  }
  .height{
    height:180px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:white;
    
  }
  .card:hover {
    box-shadow: 0 18px 30px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
    border:2px black;
  }
  .card img{

    height:350px;

  }

  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  #menu,#about{
     
     padding-top:50px;
  }
  
.btn-full{
  text-decoration: none;
  background-color: transparent;
  color: deeppink;
  border: 1px solid deeppink;
  border-radius: 20px;
  padding: 10px 20px;
}
.btn-full:hover{
   background-color:rgb(58, 3, 58) ;
   font-weight: bold;
}

.animate-fading{
  animation-name:fading;
  animation-duration:10s;
  animation-iteration-count:infinite;
  animation-delay:1s;
  }
  @keyframes fading{
  0%{opacity:0.2}
  50%{opacity:1}
  100%{opacity:0.1}
  }
      
      
      @keyframes moveSlideshow {
        100% { 
          transform: translateX(-66.6666%);  
        }
      }

     
      @media screen and (min-width: 751px)  
      {    
.images{
      width:30%;
      height: 350px;
      float:right;
      padding-top:250px;
}
.images img{
  width:90%;
  height:300px;
  margin-left:0%;
  margin-right:10%;

}
.about{
  margin-left: 2%;
  width:66%;
  float:left;
  margin-right: 2%;
  text-align: justify;
  margin-bottom: 3%;
}
.content1{
  color:white;
  font-weight:lighter;
  font-size: 30px;
  margin-bottom: 2%;
 
  
}
      }
@media screen and (max-width: 750px)
{
  .about{
    width:99%;
    float:left;
    text-align: center;
    margin-left: 0.5%;
    margin-right:0.5%;
  }
  .images{
    width:70%;
    height: 350px;
    float:right;
    margin-left:15%;
    margin-right:15%;
    padding-top:50px;
}
.images img{
  width:100%;
  height:250px;
  padding-bottom: 50px;
}


.content1{
  width:98%;
  padding-left:1%;
  padding-right:1%;
  text-align: center ;
  font-weight:lighter;
  font-size: 30px;
  
  color:white;
}      
}
  
